<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div *ngFor="let dadosPets of dadosPets">
  <div class="card">
    <img [src]="getImagem(dadosPets.tipo)">
    
    <p class="nome">{{dadosPets.nome}}</p>
    <span>{{dadosPets.tutor}}</span>
    <section class="agenda">
      <p>{{dadosPets.hora + " - " + dadosPets.dia}}</p>
    </section>
    <button id="ok" *ngIf="dadosPets.status !== 1" (click)="concluir(dadosPets)">Concluído</button>
    <button id="cancel" *ngIf="dadosPets.status !== 2" (click)="cancelar(dadosPets)">Cancelar</button>
  </div>
</div>